<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools" >

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/icon_back"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/backmain_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.PrayerLight"
        tools:targetApi="31" >
        <service android:name="LocationActivity"
            android:foregroundServiceType="location"
            android:icon="@drawable/baseline_location_on_24"
            android:permission="android.permission.ACCESS_COARSE_LOCATION"/>
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".AlarmSettings"
            android:exported="false"/>
<!--            android:theme="@style/Theme.PrayerLight.once"/>-->
        <activity
            android:name=".LocationActivity"
            android:exported="false"/>
<!--            android:theme="@style/Theme.PrayerLight.once"/>-->
        <activity
            android:name=".LanguageActivity"
            android:exported="true">
<!--            android:theme="@style/Theme.PrayerLight.once">-->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>